@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(breadcrumb) {
  font-size: 12px;
  line-height: 18px;
  @include utils-clearfix;

  @include e(separator) {
    margin: 0 9px;
    font-weight: bold;
    color: $--color-text-placeholder;

    &[class*=icon] {
      margin: 0 8px;
      font-size: 16px;
      font-weight: normal;
      vertical-align: middle;
    }
  }

  @include e(item) {
    float: left;

    @include e(inner) {
      color: $--color-text-regular;
      vertical-align: middle;

      &.is-link, & a {
        text-decoration: none;
        transition: $--color-transition-base;
        color: $--color-text-primary;

        &:hover {
          color: $--color-primary;
          cursor: pointer;
        }
        &:active {
          color: $--color-primary-active;
        }
      }
    }

    &:last-child {
      .el-breadcrumb__inner,
      .el-breadcrumb__inner a {
        &, &:hover {
          font-weight: bold;
          color: $--color-text-regular;
          cursor: text;
        }
      }

      .el-breadcrumb__separator {
        display: none;
      }
    }
  }
}
