@import "common/var";

@font-face {font-family: "dbjicon";
  src: url('fonts/dbjicon.eot?t=1575106461866'); /* IE9 */
  src: url('fonts/dbjicon.eot?t=1575106461866#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/dbjicon.woff?t=1575106461866') format('woff'),
  url('fonts/dbjicon.ttf?t=1575106461866') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('fonts/dbjicon.svg?t=1575106461866#dbjicon') format('svg'); /* iOS 4.1- */
}

[class^="dbj-icon-"], [class*=" dbj-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dbjicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dbj-icon-info:before {
  content: "\e7a1";
}

.dbj-icon-upload:before {
  content: "\e606";
}

.dbj-icon-refresh:before {
  content: "\e608";
}

.dbj-icon-replace:before {
  content: "\e60c";
}

.dbj-icon-arrow-right:before {
  content: "\e607";
}

.dbj-icon-success:before {
  content: "\e635";
}

.dbj-icon-warning:before {
  content: "\e636";
}

.dbj-icon-error:before {
  content: "\e637";
}

.dbj-icon-close:before {
  content: "\e638";
}

.dbj-icon-circle-close:before {
  content: "\e639";
}

.dbj-icon-view:before {
  content: "\e63a";
}

