@import "common/var";
@import "mixins/mixins";

$namespace: 'dbj';

@include b(upload) {
  padding-top: 12px;

  @include e(trigger) {
    line-height: 16px;
    .el-upload {
      display: block;
      text-align: left;
      .is-disabled {
        color: $--disabled-color-base;
        cursor: not-allowed;
        & >.dbj-upload__button{
            color: $--disabled-color-base;
            cursor: not-allowed;
          }
      }
    }
  }

  @include e(button) {
    color: $--color-primary;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    i {
      font-size: $--font-size-icon-base;
      margin-right: 4px;
      vertical-align: -2px;
    }
    &:hover {
      color: $--color-primary-hover;
    }
    &:click {
      color: $--color-primary-active;
    }
  }

  @include e(tip) {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: $--color-info;
  }

  @include e(list) {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @include m(single) {
    .dbj-upload__list {
      display: none;
    }
  }

  @include m(multiple) {
    .dbj-upload__list {
      margin-top: 12px;
    }
  }

  @include m(has-files) {
    &.dbj-upload--single {
      .dbj-upload__trigger {
        display: none;
      }
      .dbj-upload__tip {
        display: none;
      }
      .dbj-upload__list {
        display: block;
      }
    }
  }
}

@include b(upload-file) {
  line-height: 16px;
  display: flex;
  + .dbj-upload-file {
    margin-top: 4px;
  }
  @include e(list-infos){
    padding:6px;
  }
  @include e(top) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
    margin: 0;
    min-height: 16px;
    max-height: 48px;
    color: $--color-text-primary;
  }

  @include e(info) {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }

  @include e(main) {
   flex:1;
   height: 16px;
   line-height: 16px;
  }
  @include e(content) {
    display: inline-block;
    height: 16px;
    line-height: 16px;
  }

  @include e(name-wrapper) {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    padding: 0;
  }

  @include e(name) {
    display: inline-block;
    max-width: 224px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 12px;
    white-space: nowrap;
  }

  @include e(suffix) {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
  }

  @include e(success-icon) {
    display: none;
    color: $--color-primary;
    margin-left: 12px;
    font-size: $--font-size-icon-base;
    vertical-align: middle;
  }

  @include e(size) {
    color: $--color-text-light;
    font-size: 0;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    margin-left: 12px;
  }

  @include e(size-current) {
    font-size: 12px;
  }

  @include e(size-total) {
    font-size: 12px;
    color: $--color-text-secondary;
  }

  @include e(clear-icon) {
    font-size: $--font-size-icon-base;
    color: $--color-text-light;
    margin-left: 12px;
    cursor: pointer;
    display: none;
    &:hover {
      color: $--color-text-primary;
    }
  }
  @include e(error-message){
    color: #ff333a;
    width:96px;
    float:right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
  }

  @include e(replace-icon) {
    display: none;
    margin-left: 12px;
    height: 16px;
    .el-upload {
      height: 16px;
    }
    i {
      font-size: $--font-size-icon-base;
      color: $--color-text-light;
      cursor: pointer;
      &:hover {
        color: $--color-text-primary;
      }
    }
  }

  @include e(bottom) {
    display: flex;
    align-items: center;
    margin: 4px 0 0 0;
    height: 16px;
    line-height: 16px;
  }

  @include e(progress) {
    display: block;
    width: 400px;
    height: 2px;
    border-radius: 2px;
    background: #f5f5f5;
  }

  @include e(progress-bar) {
    display: block;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: $--color-primary;
    transition: 0.3s ease all;
  }

  @include e(abort-icon) {
    font-size: $--font-size-icon-base;
    color: $--color-text-light;
    margin-left: 12px;
    cursor: pointer;
    &:hover {
      color: $--color-text-primary;
    }
  }

  @include m(complete) {
    .dbj-upload-file__bottom {
      visibility: hidden;
    }

    .dbj-upload-file__success-icon,
    .dbj-upload-file__clear-icon,
    .dbj-upload-file__replace-icon {
      display: inline-block;
    }

    .dbj-upload-file__size {
      display: none;
    }
  }
  .dbj-upload-file__no-progress{
    display: inline-block;
  }
}

$namespace: 'el';
