
.view-cabinet-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    background: #fff;
    cursor: pointer;
  }
  .view-cabinet-container:hover {
    background: #fafafa;
  }
  .view-cabinet-container .group {
    min-width: 20px;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
  }
  .view-cabinet-container .item-tip {
    min-width: 24px;
    color: #333;
    display: flex;
    align-items: center;
    line-height: 24px;
  }
  .view-cabinet-container .item-tip i {
    font-size: 20px;
    padding: 2px;
    margin-right: 6px;
  }
  .view-cabinet-container .group a {
    color: #999;
    display: flex;
    height: 20px;
    align-items: center;
    font-size: 20px;
    transition: transform 0.3s;
  }
  .view-cabinet-container .group a.is-active {
    transform: rotate(90deg);
  }
  
  .view-cabinet-container .item-body {
    width: 40%;
    /* height: 128px; */
    display: flex;
    flex-flow: row nowrap;
    padding: 24px 0 24px 16px;
    color: #333;
  }
  .item-only-tip .item-body {
    padding: 18px;
    height: 60px;
  }
  .item-only-tip .group {
    height: 24px;
    line-height: 24px;
  }
  .view-cabinet-container .item-body .material-popover {
    width: 80px;
    height: 80px;
  }
  .view-cabinet-container .item-body .content-detail {
    padding-left: 16px;
    flex-grow: 1;
    max-width: 274px;
  }
  .view-cabinet-container .item-body .content-detail .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
    max-width: 274px;
  }
  .view-cabinet-container .item-body .content-detail .show-code {
    /* margin-left: 8px; */
    font-size: 14px;
    color: #999999;
  }
  .view-cabinet-container .item-body .content-detail div {
    /* margin-left: 8px; */
    font-size: 14px;
    margin-bottom: 8px;
    height: 20px;
    line-height: 20px;
    color: #999999;
  }
  .view-cabinet-container .item-body .content-detail div:last-child {
    margin-bottom: 0;
  }
  .view-cabinet-container .item-body .content-detail .error-tag {
    display: inline-block;
    margin-left: 6px;
    font-size: 12px;
    padding: 0 6px;
    color: #ffffff;
    background-color: #ff6160;
    height: 18px;
    line-height: 18px;
  }
  .view-cabinet-container .item-body .content-detail .error {
    color: #ff6160;
  }
  .view-cabinet-container .item-body .content-detail .show-land {
    margin-left: 8px;
    font-size: 12px;
    padding: 2px 6px;
    height: 18px;
    color: #999999;
    background: #f5f5f5;
  }
  .view-cabinet-container .item-body .content-detail .other-detail-ctn {
    margin-top: 8px;
    color: #999;
    font-size: 14px;
  }
  .view-cabinet-container .item-body .content-detail .attribute span {
    margin-right: 16px;
    position: relative;
  }
  .view-cabinet-container .item-body .content-detail .attribute .next {
    position: absolute;
    top: 2px;
    left: -10px;
    width: 1px;
    height: 12px;
    background: #999999;
  }
  
  .view-cabinet-container .item-cont {
    display: flex;
    width: 50%;
    padding: 40px 0;
  }
  .item-only-tip .item-cont,
  .item-only-tip .item-count {
    padding: 0;
    height: 60px;
  }
  
  .view-cabinet-container .item-cont p {
    float: left;
    width: 20%;
    padding-right: 16px;
    height: 48px;
  }
  .view-cabinet-container .item-cont span,
  .view-cabinet-container .item-count span {
    display: block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;
    color: #333;
    text-align: right;
  }
  .view-cabinet-container .item-cont span:nth-child(2) {
    color: #999999;
  }
  .view-cabinet-container .item-cont div:not(.set-btn) {
    flex: 1;
    padding: 16px 0;
    width: 142px;
  }
  .view-cabinet-container .item-count {
    width: 10%;
    padding: 40px 0;
  }
  .view-cabinet-container .item-count p {
    text-align: right;
    padding-right: 16px;
    height: 48px;
  }