@import "common/var";
@import "mixins/mixins";

$namespace: 'dbj';

@include b(dir-upload) {
  padding-top: 12px;

  @include e(trigger) {
    line-height: 16px;
    .el-upload {
      display: block;
      text-align: left;
    }
  }

  @include e(button) {
    color: $--color-text-primary;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    i {
      color: $--color-primary;
      font-size: $--font-size-icon-base;
      margin-right: 4px;
    }
  }

  @include e(tip) {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: $--color-info;
  }

  @include e(panel) {
    display: none;
    &.is-expand .dbj-dir-upload__expand-icon {
      transform: rotate(180deg);
    }
  }

  @include e(content) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  @include e(expand-icon) {
    visibility: hidden;
    font-size: $--font-size-icon-base;
    color: $--color-text-light;
    cursor: pointer;
    transition: .3s ease all;
    &:hover {
      color: $--color-text-primary;
    }
  }

  @include e(folder-img) {
    width: 32px;
    height: 32px;
    margin-left: 4px;
  }

  @include e(children) {
    margin-top: 12px;
    .dbj-upload,
    .dbj-reader {
      padding: 0;
    }
  }

  &.is-ready {
    .dbj-dir-upload__trigger {
      display: none;
    }
    .dbj-dir-upload__tip {
      display: none;
    }
    .dbj-dir-upload__panel {
      display: block;
    }
  }

  &.is-uploading {
    .dbj-dir-upload-folder__bottom {
      display: flex;
    }
  }

  &.is-uploaded {
    .dbj-dir-upload__expand-icon {
      visibility: visible;
    }
    .dbj-dir-upload-folder__success-icon,
    .dbj-dir-upload-folder__clear-icon,
    .dbj-dir-upload-folder__replace-icon {
      display: inline-block;
    }
    .dbj-dir-upload-folder__warning-icon {
      display: none;
    }
    .dbj-dir-upload-folder__size {
      display: none;
    }
    .dbj-dir-upload-folder__bottom {
      display: none;
    }
  }

  &.no-match-file {
    .dbj-dir-upload-folder__success-icon {
      display: none;
    }
    .dbj-dir-upload-folder__warning-icon {
      display: inline-block;
    }
  }
}

@include b(dir-upload-folder) {
  margin-left: 8px;
  flex: 1;

  @include e(top) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  @include e(info) {
    display: flex;
    width: 400px;
    flex: none;
    align-items: center;
    justify-content: space-between;
  }

  @include e(label) {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    line-height: 16px;
    height: 16px;
  }

  @include e(name) {
    color: $--color-text-primary;
    display: inline-block;
    max-width: 224px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 12px;
    white-space: nowrap;
  }

  @include e(success-icon) {
    display: none;
    margin-left: 12px;
    font-size: $--font-size-icon-base;
    color: $--color-primary;
  }

  @include e(warning-icon) {
    display: none;
    margin-left: 12px;
    font-size: $--font-size-icon-base;
    color: $--color-warning;
  }

  @include e(size) {
    font-size: 0;
  }

  @include e(size-current) {
    font-size: 12px;
    color: #666;
  }

  @include e(size-total) {
    font-size: 12px;
    color: #999;
  }

  @include e(clear-icon) {
    display: none;
    margin-left: 12px;
    font-size: $--font-size-icon-base;
    color: $--color-text-light;
    cursor: pointer;
    &:hover {
      color: $--color-text-primary;
    }
  }

  @include e(replace-icon) {
    display: none;
    margin-left: 12px;
    font-size: $--font-size-icon-base;
    color: $--color-text-light;
    cursor: pointer;
    &:hover {
      color: $--color-text-primary;
    }
  }

  @include e(bottom) {
    display: none;
    align-items: center;
    margin: 0;
    line-height: 16px;
    height: 16px;
  }

  @include e(progress) {
    display: block;
    width: 400px;
    height: 2px;
    border-radius: 2px;
    background: #f5f5f5;
  }

  @include e(progress-bar) {
    display: block;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: $--color-primary;
    transition: 0.3s ease all;
  }

  @include e(abort-icon) {
    font-size: $--font-size-icon-base;
    color: $--color-text-light;
    cursor: pointer;
    margin-left: 12px;
    &:hover {
      color: $--color-text-primary;
    }
  }
}

$namespace: 'el';
