@import "mixins/mixins";
@import "common/var";

@include b(tag) {
  background-color: $--color-white;
  display: inline-block;
  padding: 0 4px;
  height: 18px;
  line-height: 16px;
  font-size: 12px;
  color: $--color-primary;
  box-sizing: border-box;
  border: 1px solid $--color-primary;
  white-space: nowrap;
  text-align: center;

  .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 12px;
    width: 12px;
    line-height: 12px;
    vertical-align: middle;
    top: -1px;
    right: -2px;
    color: $--color-primary;

    &::before {
      display: block;
    }
  }

  @include m(primary) {
    background-color: $--color-primary;
    border-color: $--color-primary;
    color: $--color-white;

    .el-tag__close {
      color: $--color-white;
    }
  }

  @include m(secondary) {
    background-color: mix($--color-white, $--color-primary, 80%);
    border-color: mix($--color-white, $--color-primary, 80%);
    color: $--color-primary;

    .el-tag__close {
      color: $--color-primary;
    }
  }

  @include when(corner) {
    transform: rotate(-45deg);
    position: absolute;
    left: -16px;
    top: 9px;
    width: 68px;
    background-color: $--color-primary;
    border-color: $--color-primary;
    color: $--color-white;

    .el-tag__close {
      color: $--color-white;
    }

    &.el-tag--secondary {
      background-color: mix($--color-white, $--color-primary, 80%);
      border-color: mix($--color-white, $--color-primary, 80%);
      color: $--color-primary;

      .el-tag__close {
        color: $--color-primary;
      }
    }
  }

  &.el-tag--info {
    background-color: #f5f5f5;
    border-color: #eeeeee;
    color: #999999;
  }
}

@include b(tag-wrapper) {
  @include m(corner) {
    display: inline-block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: relative;
    background: transparent;
  }
}